<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMVC 数据校验器配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">

    <!-- 开启Validator校验器 -->
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <!-- 配置校验器工厂 -->
    <bean id="validatorFactory" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!-- Validator -->
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!-- 国际化配置支持 -->
        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="validatorMessageResource"/>
    </bean>

    <!-- 使用注解方式 -->
    <mvc:annotation-driven validator="validatorFactory"/>

</beans>