<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMVC 基础配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">

    <!-- 读取配置文件 -->
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:jackson.properties</value>
                <value>classpath:third-party.properties</value>
            </list>
        </property>
    </bean>

    <!-- 使用基于注释的适配器和映射器 -->
    <bean id="objectMapper" class="xyz.proteanbear.muscida.CustomJacksonObjectMapper" init-method="init"/>
    <mvc:annotation-driven>
        <!-- 增加输出的JSON转换 -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 只把动态信息当做controller处理，忽略静态信息 -->
    <mvc:default-servlet-handler/>

    <!--关闭自动使用 .* 后缀-->
    <bean id="requestHandler" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="useSuffixPatternMatch" value="false"/>
    </bean>

    <!-- 只扫描@controller注解 -->
    <context:component-scan base-package="${project-base-package}">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController" />
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration"/>
    </context:component-scan>

    <!-- JSP增加前后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/><!-- 前缀 -->
        <property name="suffix" value=".jsp"/><!-- 后缀，自动拼接 -->
    </bean>

    <!-- 国际化多语言处理 -->
    <import resource="classpath*:spring-mvc-locale.xml"/>

    <!-- 数据校验器 -->
    <import resource="classpath*:spring-mvc-validator.xml"/>

    <!-- 安全权限 -->
    <import resource="classpath:spring-mvc-security.xml" />

</beans>